<div class="text-danger">
<% if @book.errors.any? %>
    <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
      <% @book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
<% end %>
</div>

<div class="row">
  <div class="col-xs-12 form-group">
    <h2>New book</h2>
    <%= form_for(book) do |f| %>
    <lable>Title</lable>
      <%= f.text_field :title, class:"col-xs-12" %>
  </div>
  <div class="col-xs-12 form-group">
    <lable>Body</lable>
    <%= f.text_area :body, class:"col-xs-12" %>
  </div>
    <a class="col-xs-12"><%= f.submit ' Create Book ', class:"btn btn-primary col-xs-12" %></a>
    <% end %>
</div>

