<body>
<div class="container">
<%= flash[:notice] %>
  <div class="row">
    <div class="col-xs-3">
    <%= render 'users/list', user: @user %>
    <%= render 'books/form', book: @booknew %>
    </div>
    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table">
	    <thead>
		  <tr>
		    <th></th>
		    <th></th>
		    <th></th>
		   </tr>
	    </thead>
		  <tr>
		  	<td><p><%= attachment_image_tag @user, :profile_image, format: 'jpg', class: "pull-left profile-img", fallback: "no_image.jpg", size:"40×40" %></p>
		  		<p><%= link_to @book.user.name, user_path(@user.id) %></p>
		  	</td>
		    <td><%= @book.title %></td>
		    <td><%= @book.body %></td>
		    <% if @book.user_id == current_user.id %>
		    <td><button type="button" class="btn btn-success"><%= link_to "Edit", edit_book_path(@book.id) %></button>
		    </td>
		    <td><button type="button" class="btn btn-danger"><%= link_to "Destroy", book_path(@book.id), method: :delete %></button>
		    </td>
		    <% end %>
		    <td><% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@book), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @book.favorites.count %>
              <% end %>
            <% end %>
            </td>
		  </tr>
      </table>
      <table class="table">
        <tr>
		  <th></th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
		<% @book_comments.each do |book_comment| %><!--もってきた変数にBlock変数を代入-->
	    <tr>
	    <td><%= attachment_image_tag book_comment.user, :profile_image, format: 'jpg', class: "pull-left profile-img", fallback: "no_image.jpg", size:"40×40" %></td>
	    <td><%= book_comment.user.name %></td>
	    <td><%= book_comment.comment %></td>
        <% if book_comment.user_id == current_user.id %>
	    <td><button type="button" class="btn btn-danger"><%= link_to "Destroy", book_book_comment_path(book_id: @book.id, id: book_comment.id), method: :delete %></button></td>
      <!--resourcesがねすとされている場合、個別ページにおいては要求されるIdが複数になるため、引数として複数のIdを持たせないといけない-->
	    <% end %>
        </tr>
        <% end %>
        </table>

    <div class="row">
        <div class="col-sm-12">
        	<%= form_for [@book, @book_commentnew] do |f| %>
            <%= f.text_area :comment, rows:'5', class: "form-control" %>
            <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
       </div>
    </div>
    </div>

</body>
